In [1]:
import pandas as pd

In [13]:
df = pd.read_csv("/home/jovyan/shared/datasets/RetailBanking/customer_panel_train.csv")
customers_all = pd.read_csv("/home/jovyan/shared/datasets/RetailBanking/customers_all.csv")
accounts_all = pd.read_csv("/home/jovyan/shared/datasets/RetailBanking/accounts_all.csv")

merged = (
    df
    .merge(accounts_all, left_on="CustomerID", right_on="CustomerID", how="left")
    .merge(customers_all, left_on = "CustomerID", right_on = "CustomerID", how = "left")
         )

In [18]:
merged[merged["CustomerID"] == 'C000009']

,CustomerID,Week,Utilisation,PaymentRatio,HardInquiries,DefaultLabel,AccountID,Type,Balance,Limit,OpenDate,Age,Tenure,CreditScore,HomeCity,AnnualSalary
26,C000009,1,0.0,0.0,0,0,Ac4cdd3c5,savings,2274.158038,NaN,2024-09-17,51.848046,1.929657,733.206851,City015,46088.080308
27,C000009,1,0.0,0.0,0,0,A61f6d228,checking,186.813225,NaN,2023-01-27,51.848046,1.929657,733.206851,City015,46088.080308
28,C000009,2,0.0,0.0,0,0,Ac4cdd3c5,savings,2274.158038,NaN,2024-09-17,51.848046,1.929657,733.206851,City015,46088.080308
29,C000009,2,0.0,0.0,0,0,A61f6d228,checking,186.813225,NaN,2023-01-27,51.848046,1.929657,733.206851,City015,46088.080308
30,C000009,3,0.0,0.0,0,0,Ac4cdd3c5,savings,2274.158038,NaN,2024-09-17,51.848046,1.929657,733.206851,City015,46088.080308
31,C000009,3,0.0,0.0,0,0,A61f6d228,checking,186.813225,NaN,2023-01-27,51.848046,1.929657,733.206851,City015,46088.080308
32,C000009,4,0.0,0.0,1,0,Ac4cdd3c5,savings,2274.158038,NaN,2024-09-17,51.848046,1.929657,733.206851,City015,46088.080308
33,C000009,4,0.0,0.0,1,0,A61f6d228,checking,186.813225,NaN,2023-01-27,51.848046,1.929657,733.206851,City015,46088.080308
34,C000009,5,0.0,0.0,0,0,Ac4cdd3c5,savings,2274.158038,NaN,2024-09-17,51.848046,1.929657,733.206851,City015,46088.080308
35,C000009,5,0.0,0.0,0,0,A61f6d228,checking,186.813225,NaN,2023-01-27,51.848046,1.929657,733.206851,City015,46088.080308
36,C000009,6,0.0,0.0,0,0,Ac4cdd3c5,savings,2274.158038,NaN,2024-09-17,51.848046,1.929657,733.206851,City015,46088.080308
37,C000009,6,0.0,0.0,0,0,A61f6d228,checking,186.813225,NaN,2023-01-27,51.848046,1.929657,733.206851,City015,46088.080308
38,C000009,7,0.0,0.0,0,0,Ac4cdd3c5,savings,2274.158038,NaN,2024-09-17,51.848046,1.929657,733.206851,City015,46088.080308
39,C000009,7,0.0,0.0,0,0,A61f6d228,checking,186.813225,NaN,2023-01-27,51.848046,1.929657,733.206851,City015,46088.080308
40,C000009,8,0.0,0.0,2,0,Ac4cdd3c5,savings,2274.158038,NaN,2024-09-17,51.848046,1.929657,733.206851,City015,46088.080308
41,C000009,8,0.0,0.0,2,0,A61f6d228,checking,186.813225,NaN,2023-01-27,51.848046,1.929657,733.206851,City015,46088.080308
42,C000009,9,0.0,0.0,0,0,Ac4cdd3c5,savings,2274.158038,NaN,2024-09-17,51.848046,1.929657,733.206851,City015,46088.080308
43,C000009,9,0.0,0.0,0,0,A61f6d228,checking,186.813225,NaN,2023-01-27,51.848046,1.929657,733.206851,City015,46088.080308
44,C000009,10,0.0,0.0,2,0,Ac4cdd3c5,savings,2274.158038,NaN,2024-09-17,51.848046,1.929657,733.206851,City015,46088.080308
45,C000009,10,0.0,0.0,2,0,A61f6d228,checking,186.813225,NaN,2023-01-27,51.848046,1.929657,733.206851,City015,46088.080308
46,C000009,11,0.0,0.0,1,0,Ac4cdd3c5,savings,2274.158038,NaN,2024-09-17,51.848046,1.929657,733.206851,City015,46088.080308
47,C000009,11,0.0,0.0,1,0,A61f6d228,checking,186.813225,NaN,2023-01-27,51.848046,1.929657,733.206851,City015,46088.080308
48,C000009,12,0.0,0.0,0,0,Ac4cdd3c5,savings,2274.158038,NaN,2024-09-17,51.848046,1.929657,733.206851,City015,46088.080308
49,C000009,12,0.0,0.0,0,0,A61f6d228,checking,186.813225,NaN,2023-01-27,51.848046,1.929657,733.206851,City015,46088.080308
50,C000009,13,0.0,0.0,1,0,Ac4cdd3c5,savings,2274.158038,NaN,2024-09-17,51.848046,1.929657,733.206851,City015,46088.080308
51,C000009,13,0.0,0.0,1,0,A61f6d228,checking,186.813225,NaN,2023-01-27,51.848046,1.929657,733.206851,City015,46088.080308
52,C000009,14,0.0,0.0,1,0,Ac4cdd3c5,savings,2274.158038,NaN,2024-09-17,51.848046,1.929657,733.206851,City015,46088.080308
53,C000009,14,0.0,0.0,1,0,A61f6d228,checking,186.813225,NaN,2023-01-27,51.848046,1.929657,733.206851,City015,46088.080308
54,C000009,15,0.0,0.0,0,0,Ac4cdd3c5,savings,2274.158038,NaN,2024-09-17,51.848046,1.929657,733.206851,City015,46088.080308
55,C000009,15,0.0,0.0,0,0,A61f6d228,checking,186.813225,NaN,2023-01-27,51.848046,1.929657,733.206851,City015,46088.080308
56,C000009,16,0.0,0.0,0,0,Ac4cdd3c5,savings,2274.158038,NaN,2024-09-17,51.848046,1.929657,733.206851,City015,46088.080308
57,C000009,16,0.0,0.0,0,0,A61f6d228,checking,186.813225,NaN,2023-01-27,51.848046,1.929657,733.206851,City015,46088.080308
58,C000009,17,0.0,0.0,1,0,Ac4cdd3c5,savings,2274.158038,NaN,2024-09-17,51.848046,1.929657,733.206851,City015,46088.080308
59,C000009,17,0.0,0.0,1,0,A61f6d228,checking,186.813225,NaN,2023-01-27,51.848046,1.929657,733.206851,City015,46088.080308
60,C000009,18,0.0,0.0,0,0,Ac4cdd3c5,savings,2274.158038,NaN,2024-09-17,51.848046,1.929657,733.206851,City015,46088.080308
61,C000009,18,0.0,0.0,0,0,A61f6d228,checking,186.813225,NaN,2023-01-27,51.848046,1.929657,733.206851,City015,46088.080308
62,C000009,19,0.0,0.0,0,0,Ac4cdd3c5,savings,2274.158038,NaN,2024-09-17,51.848046,1.929657,733.206851,City015,46088.080308
63,C000009,19,0.0,0.0,0,0,A61f6d228,checking,186.813225,NaN,2023-01-27,51.848046,1.929657,733.206851,City015,46088.080308
64,C000009,20,0.0,0.0,0,0,Ac4cdd3c5,savings,2274.158038,NaN,2024-09-17,51.848046,1.929657,733.206851,City015,46088.080308
65,C000009,20,0.0,0.0,0,0,A61f6d228,checking,186.813225,NaN,2023-01-27,51.848046,1.929657,733.206851,City015,46088.080308
66,C000009,21,0.0,0.0,1,0,Ac4cdd3c5,savings,2274.158038,NaN,2024-09-17,51.848046,1.929657,733.206851,City015,46088.080308
67,C000009,21,0.0,0.0,1,0,A61f6d228,checking,186.813225,NaN,2023-01-27,51.848046,1.929657,733.206851,City015,46088.080308
68,C000009,22,0.0,0.0,0,0,Ac4cdd3c5,savings,2274.158038,NaN,2024-09-17,51.848046,1.929657,733.206851,City015,46088.080308
69,C000009,22,0.0,0.0,0,0,A61f6d228,checking,186.813225,NaN,2023-01-27,51.848046,1.929657,733.206851,City015,46088.080308
70,C000009,23,0.0,0.0,0,0,Ac4cdd3c5,savings,2274.158038,NaN,2024-09-17,51.848046,1.929657,733.206851,City015,46088.080308
71,C000009,23,0.0,0.0,0,0,A61f6d228,checking,186.813225,NaN,2023-01-27,51.848046,1.929657,733.206851,City015,46088.080308
72,C000009,24,0.0,0.0,0,0,Ac4cdd3c5,savings,2274.158038,NaN,2024-09-17,51.848046,1.929657,733.206851,City015,46088.080308
73,C000009,24,0.0,0.0,0,0,A61f6d228,checking,186.813225,NaN,2023-01-27,51.848046,1.929657,733.206851,City015,46088.080308
74,C000009,25,0.0,0.0,0,0,Ac4cdd3c5,savings,2274.158038,NaN,2024-09-17,51.848046,1.929657,733.206851,City015,46088.080308
75,C000009,25,0.0,0.0,0,0,A61f6d228,checking,186.813225,NaN,2023-01-27,51.848046,1.929657,733.206851,City015,46088.080308
76,C000009,26,0.0,0.0,0,0,Ac4cdd3c5,savings,2274.158038,NaN,2024-09-17,51.848046,1.929657,733.206851,City015,46088.080308
77,C000009,26,0.0,0.0,0,0,A61f6d228,checking,186.813225,NaN,2023-01-27,51.848046,1.929657,733.206851,City015,46088.080308
78,C000009,27,0.0,0.0,1,0,Ac4cdd3c5,savings,2274.158038,NaN,2024-09-17,51.848046,1.929657,733.206851,City015,46088.080308
79,C000009,27,0.0,0.0,1,0,A61f6d228,checking,186.813225,NaN,2023-01-27,51.848046,1.929657,733.206851,City015,46088.080308